<div class="item image {{#if isFirst}}present{{else}}future{{/if}}" data-permalink="{{ data.permalink }}" data-original="{{ data.url }}" data-url="{{ processedUrl }}" {{#if loadImmediately}}style="background-image: url({{ processedUrl }});"{{/if}}>
</div>
